<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head.ejs') %>

  <body>
    <div class="container">


      <%- include ('../partials/header.ejs') %>

        <!-- CAROUSEL -->
        <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <a href="#">
              <button class="btn-primary">Go</button>
            </a>
            <div class="carousel-item active">
              <img
                src='https://images.unsplash.com/photo-1575672909049-30fa299df67e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'
                class="d-block w-100" alt="">
              <div class="carousel-caption">
                <h3>Discover</h3>
                <p>A library of albums curated by friends.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src='https://images.unsplash.com/photo-1616663395731-d70897355fd8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'
                class="d-block w-100" alt="">
              <div class="carousel-caption">
                <h3>Discover</h3>
                <p>A library of albums curated by friends.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src='https://images.unsplash.com/photo-1577648735394-9c41449a1f6f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'
                class="d-block w-100" alt="">
              <div class="carousel-caption">
                <h3>Discover</h3>
                <p>A library of albums curated by friends.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src='https://images.unsplash.com/photo-1614613535308-eb5fbd3d2c17?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'
                class="d-block w-100" alt="">
              <div class="carousel-caption">
                <h3>Discover</h3>
                <p>A library of albums curated by friends.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img
                src='https://images.unsplash.com/photo-1502773860571-211a597d6e4b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'
                class="d-block w-100" alt="">
              <div class="carousel-caption">
                <h3>Discover</h3>
                <p>A library of albums curated by friends.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- CAROUSEL -->

        <div class="row text-center">
          <div class="card-group px-2">
            <% for (let album of albums ) { %>
              <div class="col-sm-6 col-xl-4 px-2 py-3">
                <div class="card h-100">
                  <a href="/albums/<%=album._id%>">
                    <img class="card-img-top" src=" <%= album.image %> " alt="">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title">
                      <%=album.name%>
                    </h5>
                    <h6 class="card-title">
                      <%=album.artist%>
                    </h6>
                  </div>
                </div>

              </div>
              <% } %>
          </div>
        </div>

    </div>
    <footer>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"></script>
  </body>

</html>